<div id="chat-box" class="chat-box-wrapper">
    <div class="chat-minimise">
        <div id="cut-chat-box"><i class="fa-solid fa-x"></i></div>
        <div id="minimise-chat"><i class="fa-solid fa-compress"></i></div>
    </div>
    <div id="chat-section">
        <ul id="to-user-ul">
            <li class="to-user">
                <span>hello nishant</span>
            </li>
            <li class="to-user">
                <span>hello nishant</span>
            </li>
            <li class="to-user">
                <span>hello nishant</span>
            </li>
        </ul>
        <ul id="by-user-ul">
            <li class="by-user">
                <span>hello world by nishant</span><br>
                <span>hello world by nishant</span><br>
                <span>hello world by nishant</span><br>
                <span>hello world by nishant</span> <br>
            </li>
        </ul>
    
    </div>
    <div id="chat-input">
        <form action="/" >
            <div id="chat-wrapper-div">
                <input type="text" name="chat" placeholder="Type Here .." id="chat-message-input">
                <div class="chat-border-div"></div>
                <button id="send-message"type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
<div id="open-chat-box">
    <i class="fa-solid fa-message fa-flip"></i>
</div>