<link rel="stylesheet" href="/css/footer.css">
<footer class="footer">
    <div>
        <p>Copyright © Nishant Bhalothia</p>
        <p>All rights reserved to Nishant Bhalothia</p>
    </div>
    <div>
        <p>page footer</p>
    </div>
</footer>