<header>
    <p>Codeial</p>

    <ul>
        <%if (locals.user) {%>
            <div>
                <li><a href="/users/profile"><%= user.name%></a></li>
                <li><a href="/users/sign-out">Logout</a></li>
            </div>
        <%}else{%>
            </div>
                <li><a href="/users/sign-in">Login</a></li>
                <li><a href="/users/sign-in">Register</a></li>
            </div>
        <%}%>
    </ul>
</header>