<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= title%> </title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/sign_in.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <!-- Signup Form -->                        <!-- create acount -->

<section class="container forms">
    <div class="form signup">
        <div class="form-content">
            <header>Signup</header>
            <form action="/users/create" method="post">
                <div class="field input-field">
                    <input type="text" name="name" placeholder="Your Name" class="input" required>
                </div>
                <div class="field input-field">
                    <input type="email" name="email" placeholder="Email" class="input" required>
                </div>
    
                <div class="field input-field">
                    <input type="number" name="phone" placeholder="Phone Number" class="input" required>
                </div>
    
                <div class="field input-field">
                    <input type="password" name="password" placeholder="Create password" class="password" required>
                </div>
    
                <div class="field input-field">
                    <input type="password" name="confirm_password" placeholder="Confirm password" class="password" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>
    
                <div class="field button-field">
                    <button>Signup</button>
                </div>
            </form>
    
            <div class="form-link">
                <span>Already have an account? <a href="/users/sign-in" class="link login-link">Login</a></span>
            </div>
        </div>
    
        <div class="line"></div>
    
        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>
    
        <div class="media-options">
            <a href="#" class="field google">
                <img src="#" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
    
    </div>
</section>
    </body>
</html>