<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= title%> </title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/sign_in.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <!-- login form -->                             <!-- login to your account  -->
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Login</header>
                    <form id="firstForm" action="/users/login" method="post">
                        <!-- <div class="field input-field">
                            <input id="emailInput" type="email" name="email" placeholder="Email / Phone " class="input" required>
                        </div> -->
                        <div class="field input-field">
                            <input id="identifierInput" type="text" name="identifier" placeholder="Email / Phone" class="input" required>
                        </div>
                        

                        <!-- <div class="field input-field">
                            <input type="password" name="password" placeholder="Password / OTP " class="password" required>
                            <i class='bx bx-hide eye-icon'></i>
                        </div> -->

                        <div class="form-link">
                            <a href="#" class="forgot-pass">Forgot password?</a>
                        </div>

                        <div class="field button-field">
                            <button class="link" type="button" id="continueButton">Continue</button>
                        </div>

                        <div class="field button-field">
                            <a href="/users/send-otp">Send OTP</a>
                        </div>

                    </form>

                    <div class="form-link">
                        <span>Don't have an account? <a href="/users/sign-up" class="signup-link">Signup</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div>

                <div class="media-options">
                    <a href="/users/auth/google" class="field google">
                        <img src="#" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>

            </div>



<!-- Second Form (Password Entry) -->
            <div class="form enter-password">
                <div class="form-content">
                    <form action="/users/login" method="post">
                        <div class="field input-field autofilled">
                            <input type="text" name="identifier" placeholder="Email / Phone " class="input" required>
                        </div>
                        <div class="field input-field">
                            <input type="password" name="password" placeholder="Password / OTP " class="password" required>
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="form-link">
                            <a href="#" class="forgot-pass">Forgot password?</a>
                        </div>

                        <div class="field button-field">
                            <button>Login</button>
                        </div>

                    </form>
            </div>

        </section>

        <!-- JavaScript -->
        <script src="/js/sign_in.js"></script>
        <script src="/js/send_otp.js"></script>
    </body>
</html>