* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#layouts_body {
  background-color: white;
}

#layouts_body main {
  height: 90vh;
}
