* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#layouts_body {
  background-color: white;
  margin: 0;
  padding: 0;
}

#layouts_body main {
  background-color: whitesmoke;
  padding: 1rem;
  min-height: 90vh;
}
