#home-container{
    display: flex;
    #post-feed{
        width: 60%;
        padding: 0 1em;
        #new-post-form{
            margin-left: 1.5em;
        }
        .posts-list-container{
            margin-left: 10px;
        }
    }
    #user-friends{
        border-left: 1px solid #ccc;
        width: 20%;
        padding: 0 1em;
    }
    #user-profile{
        width: 20%;
        padding: 0 1em;
        border-right: 1px solid #ccc;
        h2{
            a{
                color: #000;
                text-decoration: none;
            }
            a:hover{
                color: #427E93;
                text-decoration: underline;
            }
        }
    }
}

